Repository matplotlib/napari-matplotlib, pull requests merged in 2023-05, with the labels that each got.

#85 dstansby → matplotlib in README.md
  README.md
Labels: Bug, Docs

#112 Remove indices and tables from doc landing page
  docs/index.rst
Labels: Docs

#119 Add changelog to documentation
  docs/changelog.rst
  docs/index.rst
Labels: Docs

#108 Fix leaky QT widgets
  pyproject.toml
  src/napari_matplotlib/base.py
  src/napari_matplotlib/histogram.py
  src/napari_matplotlib/scatter.py
  src/napari_matplotlib/slice.py
  src/napari_matplotlib/tests/conftest.py
  tox.ini
Labels: Tests

#118 Adding 2D and 3D tests for histogram and slice widgets
  src/napari_matplotlib/tests/baseline/test_histogram_2D.png
  src/napari_matplotlib/tests/baseline/test_histogram_3D.png
  src/napari_matplotlib/tests/baseline/test_slice_2D.png
  src/napari_matplotlib/tests/baseline/test_slice_3D.png
  src/napari_matplotlib/tests/test_histogram.py
  src/napari_matplotlib/tests/test_slice.py
Labels: Tests

#120 General clean up of existing docs
  docs/Makefile
  docs/conf.py
  docs/make.bat
  src/napari_matplotlib/base.py
  src/napari_matplotlib/scatter.py
  src/napari_matplotlib/slice.py
  src/napari_matplotlib/util.py
Labels: Docs

#127 Add docs on using as a third-party plugin developer
  docs/Makefile
  docs/guide/index.rst
  docs/guide/third_party.rst
  docs/index.rst
  src/napari_matplotlib/base.py
Labels: Docs
