Repository matplotlib/napari-matplotlib, pull requests merged in 2023-06, with the labels that each got.

#138 Match plugin text/axis/icon colours to the napari theme.
  docs/changelog.rst
  src/napari_matplotlib/base.py
  src/napari_matplotlib/icons/black/Back.png
  src/napari_matplotlib/icons/black/Customize.png
  src/napari_matplotlib/icons/black/Forward.png
  src/napari_matplotlib/icons/black/Home.png
  src/napari_matplotlib/icons/black/Pan.png
  src/napari_matplotlib/icons/black/Pan_checked.png
  src/napari_matplotlib/icons/black/Save.png
  src/napari_matplotlib/icons/black/Subplots.png
  src/napari_matplotlib/icons/black/Zoom.png
  src/napari_matplotlib/icons/black/Zoom_checked.png
  src/napari_matplotlib/icons/white/Back.png
  src/napari_matplotlib/icons/white/Customize.png
  src/napari_matplotlib/icons/white/Forward.png
  src/napari_matplotlib/icons/white/Home.png
  src/napari_matplotlib/icons/white/Pan.png
  src/napari_matplotlib/icons/white/Pan_checked.png
  src/napari_matplotlib/icons/white/Save.png
  src/napari_matplotlib/icons/white/Subplots.png
  src/napari_matplotlib/icons/white/Zoom.png
  src/napari_matplotlib/icons/white/Zoom_checked.png
  src/napari_matplotlib/tests/baseline/test_example_q_widget.png
  src/napari_matplotlib/tests/baseline/test_histogram_2D.png
  src/napari_matplotlib/tests/baseline/test_histogram_3D.png
  src/napari_matplotlib/tests/baseline/test_scatter.png
  src/napari_matplotlib/tests/baseline/test_slice_2D.png
  src/napari_matplotlib/tests/baseline/test_slice_3D.png
  src/napari_matplotlib/tests/test_theme.py
Labels: Bug

#143 Tests for background lightness checking.
  src/napari_matplotlib/tests/test_theme.py
Labels: Tests

#147 Add a mocker test for `__version__` fallback.
  src/napari_matplotlib/tests/test_util.py
Labels: Tests

#145 Update plugin metadata
  .github/workflows/napari_hub_preview.yml
  .napari/DESCRIPTION.md
  .napari/config.yml
Labels: napari hub preview

#149 Axis labels should respect the theme (#142) and fix #96 whilst I'm at it.
  src/napari_matplotlib/base.py
  src/napari_matplotlib/tests/baseline/test_histogram_2D.png
  src/napari_matplotlib/tests/baseline/test_histogram_3D.png
  src/napari_matplotlib/tests/baseline/test_slice_2D.png
  src/napari_matplotlib/tests/baseline/test_slice_3D.png
  src/napari_matplotlib/tests/scatter/baseline/test_features_scatter_widget_2D.png
  src/napari_matplotlib/tests/scatter/baseline/test_scatter_2D.png
  src/napari_matplotlib/tests/scatter/baseline/test_scatter_3D.png
  src/napari_matplotlib/tests/scatter/test_scatter.py
  src/napari_matplotlib/tests/scatter/test_scatter_features.py
  src/napari_matplotlib/tests/test_histogram.py
  src/napari_matplotlib/tests/test_slice.py
  src/napari_matplotlib/tests/test_theme.py
Labels: Bug

#153 A simple test of `NapariNavigationToolbar._update_buttons_checked`.
  src/napari_matplotlib/tests/test_ui.py
Labels: Tests

#158 Might as well go for 100% coverage.
  src/napari_matplotlib/tests/scatter/test_scatter.py
  src/napari_matplotlib/tests/test_util.py
Labels: Tests

#160 Test to guard against styling side-effects.
  src/napari_matplotlib/tests/baseline/test_no_theme_side_effects.png
  src/napari_matplotlib/tests/test_theme.py
Labels: Tests

#165 Codecov updates
  .github/workflows/test_and_deploy.yml
Labels: Tests

#177 Start a user guide
  docs/guide/index.rst
  docs/guide/user_guide.rst
Labels: Docs
